{% extends '/admin/baseAdmin.html.twig' %}

{% trans_default_domain 'messages' %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ 'image'|trans }} #{{ image.id|default('') }}</h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            {{ form(form) }}
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12">
            <img src="{{ asset('/images/' ~ image.filename)|imagine_filter('gallery_image') }}" />
        </div>
    </div>
{% endblock main %}