{% extends '/ciamek/baseFront.html.twig' %}

{% form_theme form _self %}

{% block form_label %}
    {{ label | raw }}
{% endblock %}

{% block content %}
    <!-- Title Section Starts -->
    <div class="title-section module">
        <div class="row">

            <div class="small-12 columns">
                <h1>Kontakt</h1>
            </div><!-- Top Row /-->

            <!--<div class="small-12 columns">-->
            <!--<ul class="breadcrumbs">-->
            <!--<li><a href="#">Home</a></li>-->
            <!--<li class="disabled">Gene Splicing</li>-->
            <!--<li><span class="show-for-sr">Current: </span> Cloning</li>-->
            <!--</ul>&lt;!&ndash; Breadcrumbs /&ndash;&gt;-->
            <!--</div>&lt;!&ndash; Bottom Row /&ndash;&gt;-->

        </div><!-- Row /-->
    </div>
    <!-- Title Section /-->

    <!-- Pricing Table Starts -->
    <div class="appointment-page module">
        <div class="row">

            <div class="medium-8 small-12 columns">
                <div class="contact-map">
                    <!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ-4enLFe3PUcRtK2onk9IkmI&key=AIzaSyDvBS3yxfZOxtAFafGcfAsmRKlN1qygzD4" allowfullscreen></iframe>-->
                    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ-4enLFe3PUcRtK2onk9IkmI&key=AIzaSyDGraFXcKdN2fK5cQL2zLlybtW9fZsFu3w" allowfullscreen></iframe>
                </div>
                <div class="appointment-form">
                    {{ form_start(form, {'attr': {'id': 'contact-contact'}}) }}
                    <div class="g-recaptcha" data-size="invisible"></div>
                    {#<form id="contact-contact" method="post" action="/contact.php" enctype="multipart/form-data">#}
                        <h3>DARMOWA WYCENA</h3>
                        <p>Napisz do nas, dobierzemy urządzenie</p>

                        <div class="row">
                            <div class="medium-6 small-12 columns">
                                {{ form_widget(form.firstName) }}
                                {{ form_errors(form.firstName) }}
                            </div>
                            <div class="medium-6 small-12 columns">
                                {{ form_widget(form.lastName) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-6 small-12 columns">
                                {{ form_widget(form.phone) }}
                                {{ form_errors(form.phone) }}
                            </div>
                            <div class="medium-6 small-12 columns">
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-12 small-12 columns">
                                {{ form_widget(form.subject) }}
                                {{ form_errors(form.subject) }}
                            </div>
                            <div class="medium-12 small-12 columns">
                                {{ form_widget(form.message, {'attr': {'rows': 5}}) }}
                                {{ form_errors(form.message, {'attr': {'rows': 5}}) }}
                            </div>
                            <div class="medium-12 small-12 columns">
                                {#<input type="file" name="file" id="file-contact" style="display: none;" />#}
                                {{ form_widget(form.file, {'attr': {'style': 'display:none;'}}) }}
                                {{ form_errors(form.file) }}
                                <label for="contact_type_file" class="file-label file-label-contact">Dodaj plik z badaniem wody</label>
                            </div>
                            <div class="medium-12 small-12 columns">
                                {{ form_widget(form.agree) }}
                                {{ form_errors(form.agree) }}
                                <span style=" line-height: 14px;">
                                    Wyrażam zgodę na przetwarzanie danych osobowych zgodnie z <a target="_blank" rel="nofollow" href="{{ path('privacy_policy') }}" style="">Polityką prywatności</a>*
                                </span>
                            </div>
                            <div class="medium-12 small-12 columns"><br>
                                {{ form_widget(form.send, {'attr': {'class': 'button primary'}}) }}
                                {#<input type="submit" class="button primary g-recaptcha" value="Wyślij" />#}
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div><!-- Form Ends /-->
            </div><!-- Form Side /-->
        </div><!-- Row /-->
    </div>
    <!-- Pricing Table /-->
    <div class="service-banner">
        <div class="row relative-position">

            <img src="/template/assets/images/help/tel2.png" alt="kontakt"/>

            <div class="medium-9 small-12 columns medium-offset-3 services-box">
                <h2><i class="fa fa-life-ring" aria-hidden="true"></i> Zadzwoń kiedy chcesz 365 dni w roku </h2>
                <p>Bardzo się cieszymy, że możemy ogłosić, że przez cały rok oferujemy wspaniałe usługi w Twojej okolicy. Ponieważ naszą misją jest dostarczanie najlepszych usług !</p>
                <div class="call-box"><a href="tel:608624227" style="color: #fff; font-size: 1.85rem; line-height: 40px;"><i class="fa fa-phone"></i> 608-624-227</a> &nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i> <span class="mail-address" style="color: rgba(255, 255, 255, 0.9); font-size: 1rem; line-height: 40px;"></span></div>
            </div><!-- Columns /-->

        </div><!-- Row /-->
    </div>
{% endblock %}