{% extends '/ciamek/baseFront.html.twig' %}

{% block content %}
    <!-- Main Banner Starts -->
    <div class="main-banner module owl-carousel">

        <div class="slide transparent-background">
            <div class="row">

                <div class="medium-12 small-12 columns">
                    <div class="banner-text">
                        <h2>Przyłącz wody <span>od studni </span> do domu  <span class="text-red">Studnie głębinowe</span></h2>
                        <h3><i class="fa fa-check" aria-hidden="true"></i>Dobór pomp i materiałów
                            <br /><i class="fa fa-check" aria-hidden="true"></i>Profesionalny montaż - GWARANCJA </h3>
                        <!--<a href="#" class="button primary">Czytaj więcej</a> -->
                        <a href="{{ path('contact') }}" class="button secondary">Skontaktuj się z nami!</a>
                    </div><!-- Banner Text /-->
                    <div class="banner-image">
                        <img src="/template/assets/images/help/1koparka.jpg" alt="przyłącz wody" class="excav" />
                    </div><!--Banner Image /-->
                </div><!-- columns /-->

            </div><!-- Row /-->
        </div><!-- Slide /-->

        <div class="slide transparent-background-one">
            <div class="row">
                <div class="medium-12 small-12 columns">
                    <div class="banner-text">
                        <h1>Profesionalne <span>Filtry do wody</span> Wyślij nam badanie </h1>
                        <h3><i class="fa fa-check" aria-hidden="true"></i>Dobór Stacji Uzdatniania Wody
                            <br /><i class="fa fa-check" aria-hidden="true"></i>Gwarancja czystej wody!</h3>
                        <!--<a href="#" class="button primary">Czytaj więcej</a> -->
                        <a href="{{ path('contact') }}" class="button secondary">Skontaktuj się z nami</a>
                    </div><!-- Banner Text /-->
                    <div class="banner-form">
                        <h4>Stacja Uzdatniania Wody </h4>
                        <h6>Wyślij badanie wody<br>Odpiszemy do 24 godzin </h6>
                        {{ form_start(formSlider, {'attr': {'id': 'top-contact'}}) }}
                            <div class="g-recaptcha" data-size="invisible"></div>
                            {{ form_widget(formSlider.firstName) }}
                            {{ form_errors(formSlider.firstName) }}

                            {{ form_widget(formSlider.email) }}
                            {{ form_errors(formSlider.email) }}

                            {{ form_widget(formSlider.phone) }}
                            {{ form_errors(formSlider.phone) }}
                            {#<input type="text" value="" placeholder="Numer telefonu *" name="phone" id="phone-slider"/>#}

                            {{ form_widget(formSlider.message, {'attr': {'class': 'form-control', 'rows': 3}}) }}
                            {{ form_errors(formSlider.message) }}
                            {#<textarea id="message-slider" class="form-control" rows="3" placeholder="Wpisz tekst *" required name="message"></textarea>#}

                            {#<input type="file" name="file-slider" id="file-slider" />#}
                            <div>
                                {{ form_widget(formSlider.file, {'attr': {'style': 'display:none;'}}) }}
                                {{ form_errors(formSlider.file) }}
                                <label for="slider_contact_type_file" class="file-label file-label-slider z-index">Dodaj plik z badaniem wody</label>
                            </div>
                            {#<input type="checkbox" name="slider-agree" id="slider-agree" required="required" />#}
                            {#<span class="agree">#}
                                    {#Wyrażam zgodę na przetwarzanie danych osobowych zgodnie z <a target="_blank" rel="nofollow" href="{{ path('privacy_policy') }}" class="link">Polityką prywatności</a>*#}
                                {#</span>#}
                            {{ form_widget(formSlider.agree) }}
                            {{ form_errors(formSlider.agree) }}
                            <span class="agree">
                                Wyrażam zgodę na przetwarzanie danych osobowych zgodnie z <a class="link" target="_blank" rel="nofollow" href="{{ path('privacy_policy') }}" style="">Polityką prywatności</a>*
                            </span>
                            {#<button type="submit" class="button primary" id="slider-button" style="margin-top: 10px;">WYŚLIJ</button>#}
                            {{ form_widget(formSlider.send, {'attr': {'class': 'button primary'}}) }}
                        {{ form_end(formSlider) }}
                    </div><!-- Banner Form /-->
                </div><!-- columns /-->
            </div><!-- Row /-->
        </div><!-- Slide /-->
    </div>
    <!-- Main Banner /-->

    <!-- About Section Starts-->
    <div class="about-section module">
        <div class="about-section-top">
            <div class="row">

                <div class="small-12 medium-6 columns section-top">
                    <div class="description-side">
                        <h2>Witamy w  <span>filtrydowody24.pl</span></h2>
                        <h4>Nasza firma zajmuję się kompleksowymi usługami w dziedzinie wodnej</h4>
                        <p>FILTRY : Stosujemy tylko najlepsze złoża filtracyjne i najlepsze głowice sterujące! </p>
                        <p>Przyłącz wody : Doradzimy w wyborze pompy jak i zabudowy studni, materiałów. Dajemy gwarancje na nasze prace. Potrzebujesz wykopać studnie? Załatwimy wszystko za Ciebie </p>
                    </div><!-- Description Side /-->
                </div><!-- left Side /-->

                <div class="medium-6 small-12 columns about-image">
                    <img src="/template/assets/images/help/szklanka.jpg" alt="filtry do wody" />
                </div><!-- Right Side /-->

            </div><!-- Row /-->
        </div><!-- About Section Top /-->
    </div>
    <!-- About Section /-->

    <div class="about-section-bottom module">
        <div class="row">

            <div class="medium-4 small-12 columns">
                <div class="section-inner">
                    <div class="section-icon">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div><!-- Icon /-->
                    <div class="section-tex">
                        <h2>Wysoka jakość urządzeń</h2>
                        <p></p>
                    </div><!-- Section text /-->
                </div><!-- Section inner /-->
            </div><!-- columns /-->

            <div class="medium-4 small-12 columns section-bottom">
                <div class="section-inner">
                    <div class="section-icon">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                    </div><!-- Icon /-->
                    <div class="section-tex">
                        <h2>Profesjonalny montaż </h2>
                        <p></p>
                    </div><!-- Section text /-->
                </div><!-- Section inner /-->
            </div><!-- columns /-->

            <div class="medium-4 small-12 columns section-bottom">
                <div class="section-inner">
                    <div class="section-icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div><!-- Icon /-->
                    <div class="section-tex">
                        <h2>Szybki czas realizacji</h2>
                        <p></p>
                    </div><!-- Section text /-->
                </div><!-- Section inner /-->
            </div><!-- columns /-->

        </div><!-- Row /-->
    </div>
    <!-- About Section Bottom /-->

    <div class="service-banner">
        <div class="row relative-position">

            <img src="/template/assets/images/help/tel2.png" alt="kontakt"/>

            <div class="medium-9 small-12 columns medium-offset-3 services-box">
                <h2><i class="fa fa-life-ring" aria-hidden="true"></i> Zadzwoń kiedy chcesz 365 dni w roku </h2>
                <p>Bardzo się cieszymy, że możemy ogłosić, że przez cały rok oferujemy wspaniałe usługi w Twojej okolicy. Ponieważ naszą misją jest dostarczanie najlepszych usług !</p>
                <div class="call-box"><a href="tel:608624227" style="color: #fff; font-size: 1.85rem; line-height: 40px;"><i class="fa fa-phone"></i> 608-624-227</a> &nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i> <span class="mail-address"></span></div>
            </div><!-- Columns /-->

        </div><!-- Row /-->
    </div>
    <!-- Need Service /-->

    <div class="reason-section module grey-bg">
        <div class="row">

            <div class="small-12 medium-6 columns">

                <div class="section-title">
                    <h2><span>Najczęstsze </span>Pytania</h2>
                    <p>Wybrane.</p>
                </div><!-- Section Title /-->

                <ul class="accordion" data-accordion data-deep-link="true" data-update-history="true" data-deep-link-smudge="500" id="deeplinked-accordion"  role="tablist">
                    <li class="accordion-item is-active" data-accordion-item>
                        <a href="#" class="accordion-title">Jak dobiermy Stacje Uzdatniania wody?</a>
                        <div class="accordion-content" data-tab-content id="deeplink1">
                            Musisz mieć badanie wody na podstawie, której dobierzemy urządzenie.
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Gdzie najlepiej zbadać wodę?</a>
                        <div class="accordion-content" data-tab-content id="deeplink2">
                            W Sanepidzie. Wykonaj badania fizykochemiczne wody oraz bakteriologię.
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Jak pobrać wodę do badania?</a>
                        <div class="accordion-content" data-tab-content id="deeplink3">
                            Zdjąć z kurka wszelkie sitka, węże itp. Otworzyć kurek, spuścić wodę ok. 2-3 min., następnie kurek zamknąć. Wylot kurka umyć wodą z mydłem i wytrzeć czystą ściereczką. Metalowy kurek opalić płomieniem (np. zapalniczki). Otworzyć kurek i spuszczać wodę ok. 30s aby woda spływała swobodnym strumieniem. W przypadku studni bez urządzenia do pompowania wody próbkę pobierać za pomocą urządzenia czerpalnego (wiadra) – wodę należy wlewać z wiadra do butelek. Czas od momentu pobrania próbki do dostarczenia do laboratorium nie powinien przekraczać 4 godz. Badanie pod kątem fizykochemicznym: butelkę do badań fizykochemicznych (plastikowa po wodzie czystej mineralnej, bądź źródlanej o poj. 1,5 l), bezpośrednio przed napełnieniem przepłukać pobieraną wodą, napełnić całkowicie, szczelnie zakręcić, a następnie oznaczyć etykietą.
                        </div>
                    </li>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Przyłącz wody do studni - Wiercenie studni</a>
                        <div class="accordion-content" data-tab-content id="deeplink4">
                            Inwidualnie dla każdego klienta.
                        </div>
                    </li>
                </ul>

            </div><!--Columns /-->

            <div class="small-12 medium-6 columns">

                <div class="section-title">
                    <h2><span>Darmowa </span>Wycena</h2>
                    <p>Napisz do nas, dobierzemy urządzenie</p>
                </div><!-- Section Title /-->
                {{ form_start(formSlider, {'attr': {'id': 'bottom-contact'}}) }}
                    <div class="g-recaptcha" data-size="invisible"></div>
                    <div class="estimate-form row">
                        <div class="medium-6 small-12 columns">
                            {{ form_widget(formBottom.firstName) }}
                            {{ form_errors(formBottom.firstName) }}
                            {#<label>#}
                                {#<input type="text" name="firstname" placeholder="Twoje imię ..." />#}
                            {#</label>#}
                        </div>
                        <div class="medium-6 small-12 columns">
                            {{ form_widget(formBottom.email) }}
                            {{ form_errors(formBottom.email) }}
                            {#<input type="text" name="email" required="required" placeholder="Twój email ..." />#}
                        </div>
                        <div class="medium-12 small-12 columns">
                            {{ form_widget(formBottom.subject) }}
                            {{ form_errors(formBottom.subject) }}
                            {#<select name="type">#}
                                {#<option value="Filtry do wody">Filtry do wody</option>#}
                                {#<option value="Serwis">Serwis</option>#}
                                {#<option value="Przyłącz wody">Przyłącz wody</option>#}
                                {#<option value="Studnia głębinowa">Studnia głębinowa</option>#}
                            {#</select>#}
                            {#<textarea rows="7" required="required" placeholder="W czym możemy pomóc?" name="message"></textarea>#}
                            {{ form_widget(formBottom.message, {'attr': {'rows': 7}}) }}
                            {{ form_errors(formBottom.message) }}
                            {#<input type="file" name="file" id="file-bottom" style="display: none;" />#}
                            {#<label for="file-bottom" class="file-label file-label-bottom">Dodaj plik z badaniem wody</label>#}
                            <div>
                                {{ form_widget(formBottom.file, {'attr': {'style': 'display:none;'}}) }}
                                {{ form_errors(formBottom.file) }}
                                <label for="bottom_contact_type_file" class="file-label file-label-bottom z-index">Dodaj plik z badaniem wody</label>
                            </div>
                            {#<input type="checkbox" name="bottom-agree" id="bottom-agree" style="margin-bottom: 0; top: 2px; position: relative;" required="required" />#}
                            {#<span style=" line-height: 14px;">#}
                                    {#Wyrażam zgodę na przetwarzanie danych osobowych zgodnie z <a target="_blank" rel="nofollow" href="{{ path('privacy_policy') }}" style="">Polityką prywatności</a>*#}
                                {#</span>#}
                            {{ form_widget(formBottom.agree) }}
                            {{ form_errors(formBottom.agree) }}
                            <span class="agree">
                                Wyrażam zgodę na przetwarzanie danych osobowych zgodnie z <a class="link" target="_blank" rel="nofollow" href="{{ path('privacy_policy') }}" style="">Polityką prywatności</a>*
                            </span>
                            <br>
                            {#<button type="submit" class="button primary" id="bottom-button">Wyślij</button>#}
                            {{ form_widget(formBottom.sendBottom, {'attr': {'class': 'button primary'}}) }}
                        </div>
                    </div><!-- Estimate Form /-->
                {{ form_end(formBottom) }}
                {#</form>#}
            </div><!--Columns /-->

        </div><!-- Row /-->
    </div><!-- Reason Section /-->
{% endblock %}