{% extends '/ciamek/baseFront.html.twig' %}

{% block content %}
    <!-- Title Section Starts -->
    <div class="title-section module">
        <div class="row">

            <div class="small-12 columns">
                <h1>Polityka prywatności</h1>
            </div><!-- Top Row /-->
        </div><!-- Row /-->
    </div>
    <!-- Title Section /-->

    <!-- Pricing Table Starts -->
    <div class="appointment-page module">
        <div class="row">

            <div class="medium-8 small-12 columns">
                <div class="appointment-form">
                    <h3>1. Informacje ogólne</h3>
                    <ol>
                        <li>Niniejsza polityka dotyczy Serwisu www, funkcjonującego pod adresem url: http://filtrydowody24.pl</li>
                        <li>Operatorem serwisu oraz Administratorem danych osobowych jest: PHU Uzdatnianie Wody</li>
                        <li>Adres kontaktowy poczty elektronicznej operatora: biuro.uzdatnianie@gmail.com</li>
                        <li>Operator jest Administratorem Twoich danych osobowych w odniesieniu do danych podanych dobrowolnie w Serwisie.</li>
                        <li>
                            Serwis wykorzystuje dane osobowe w następujących celach:
                            <ul>
                                <li>Obsługa zapytań przez formularz</li>
                                <li>Prezentacja oferty lub informacji</li>
                            </ul>
                        </li>
                        <li>
                            Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący sposób:
                            <ul>
                                <li>Poprzez dobrowolnie wprowadzone w formularzach dane, które zostają wprowadzone do systemów Operatora.</li>
                                <li>Poprzez zapisywanie w urządzeniach końcowych plików cookie (tzw. „ciasteczka”).</li>
                            </ul>
                        </li>
                    </ol>
                    <h3>2. Istotne techniki marketingowe</h3>
                    <ol>
                        <li>
                            Operator stosuje analizę statystyczną ruchu na stronie, poprzez Google Analytics (Google Inc. z siedzibą w USA). Operator nie przekazuje do operatora tej usługi danych osobowych, a jedynie zanonimizowane informacje. Usługa bazuje na wykorzystaniu ciasteczek w urządzeniu końcowym użytkownika. W zakresie informacji o preferencjach użytkownika gromadzonych przez sieć reklamową Google użytkownik może przeglądać i edytować informacje wynikające z plików cookies przy pomocy narzędzia: https://www.google.com/ads/preferences/
                        </li>
                    </ol>
                    <h3>3. Informacja o plikach cookies</h3>
                    <ol>
                        <li>Serwis korzysta z plików cookies.</li>
                        <li>Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.</li>
                        <li>Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator Serwisu.</li>
                        <li>Pliki cookies wykorzystywane są do realizacji celów określonych powyżej w części "Istotne techniki marketingowe" </li>
                        <li>Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać zmiany ustawień w tym zakresie. Przeglądarka internetowa umożliwia usunięcie plików cookies. Możliwe jest także automatyczne blokowanie plików cookies Szczegółowe informacje na ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej.</li>
                        <li>Ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych Serwisu.</li>
                        <li>Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Serwisu wykorzystywane mogą być również przez współpracujące z operatorem Serwisu podmioty, w szczególności dotyczy to firm: Google (Google Inc. z siedzibą w USA), Facebook (Facebook Inc. z siedzibą w USA), Twitter (Twitter Inc. z siedzibą w USA).</li>
                    </ol>
                </div><!-- Form Ends /-->
            </div><!-- Form Side /-->
        </div><!-- Row /-->
    </div>
    <!-- Pricing Table /-->
    <div class="service-banner">
        <div class="row relative-position">

            <img src="/template/assets/images/help/tel2.png" alt="kontakt"/>

            <div class="medium-9 small-12 columns medium-offset-3 services-box">
                <h2><i class="fa fa-life-ring" aria-hidden="true"></i> Zadzwoń kiedy chcesz 365 dni w roku </h2>
                <p>Bardzo się cieszymy, że możemy ogłosić, że przez cały rok oferujemy wspaniałe usługi w Twojej okolicy. Ponieważ naszą misją jest dostarczanie najlepszych usług !</p>
                <div class="call-box"><a href="tel:608624227" style="color: #fff; font-size: 1.85rem; line-height: 40px;"><i class="fa fa-phone"></i> 608-624-227</a> &nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i> <span class="mail-address" style="color: rgba(255, 255, 255, 0.9); font-size: 1rem; line-height: 40px;"></span></div>
            </div><!-- Columns /-->

        </div><!-- Row /-->
    </div>
{% endblock %}