<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Filtry do wody - Uzdatnienie wody - Studnie - Jasło{% endblock %}</title>
        <!-- FavIcon for Website /-->
        <link rel="shortcut icon" type="image/x-icon" href="/template/assets/images/favicon.png">

        <!-- important for responsiveness remove to make your site non responsive. -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta property="og:type" content="website">
        <meta property="og:title" content="Filtry do wody - Uzdatnienie wody - Studnie">
        <meta property="og:description" content="Filtry do wody, uzdatnianie wody. Dobór pomop, stacji uzdatniania wody i materiałów. Profesjonalny montaż. Gwarancja. Wiercenie studni głębinowych.">
        <meta property="og:image" content="https://filtrydowody24.pl/template/assets/images/help/background-effect3.jpg">
        <meta property="og:site_name" content="Filtry do wody">
        <meta property="og:url" content="https://filtrydowody24.pl">

        {% block stylesheets %}
            <!-- Theme Styles CSS File -->
            <link rel="stylesheet" type="text/css" href="/template/style.css" media="all" />
        {% endblock %}
        {% block google_captcha %}
            {% if app.request.host == 'filtrydowody24.pl' %}
                <script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit"></script>
                <script type="text/javascript">
                    var CaptchaCallback = function(){
                        $('.g-recaptcha').each(function(){
                            var el = $(this);
                            grecaptcha.render(el.get(0),{'sitekey': '6LepYL0UAAAAAJaQy17L7Gm0_-3ySUaNGQDLr1hl'});
                        })
                    };
                </script>
            {% endif %}
        {% endblock %}
        {% block google_analytics %}
            {% if app.request.host == 'filtrydowody24.pl' %}
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149838465-1"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());

                    gtag('config', 'UA-149838465-1');
                </script>
            {% endif %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="main-container">
                {% block topbar %}
                    <!-- Top Bar Starts-->
                    <div class="topBar">
                        <div class="row">

                            <div class="large-3 medium-3 small-12 columns call-icon">
                                <a href="tel:608624227"><i class="fa fa-phone" aria-hidden="true"></i>
                                    6 0 8 - 6 2 4 - 2 2 7
                                </a>
                            </div><!-- Call Icon /-->

                            <div class="large-6 medium-5 small-12 columns border menu-centered bg-color">
                                <ul class="menu">
                                    <!--<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
                                    <!--<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                                    <!--<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
                                    <!--<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
                                    <!--<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
                                </ul>
                            </div><!-- Social Icons /-->

                            <div class="large-3 medium-4 small-12 columns right-topBar text-right">
                                <a href="#" class="mail-link"><i class="fa fa-envelope" aria-hidden="true"></i><span class="mail-address"></span></a>
                            </div><!-- Right Top Bar /-->

                        </div><!-- Row /-->
                    </div>
                    <!-- Top Bar /-->
                {% endblock topbar %}
                {% block topmenu %}
                    <div class="header">
                        <div class="row">

                            <div class="large-3 medium-12 small-12 columns">
                                <div class="logo">
                                    <a href="{{ path('index') }}" title="Filtry do wody jasło">
                                        <h1 class="title">FILTRYDOWODY24.PL</h1>
                                        <!--<img src="assets/images/logo.png" alt="logo.site /">-->
                                    </a>
                                </div><!-- logo /-->
                            </div><!-- Left columns /-->

                            <div class="large-9 medium-12 small-12 columns nav-wrap">

                                <!-- navigation Code STarts here.. -->
                                <div class="top-bar">
                                    <div class="top-bar-title">
							<span data-responsive-toggle="responsive-menu" data-hide-for="large">
								<a data-toggle><span class="menu-icon dark float-left"></span></a>
							</span>
                                    </div>

                                    <nav id="responsive-menu">
                                        <ul class="menu vertical large-horizontal float-right" data-responsive-menu="accordion large-dropdown">
                                            <li class="single-sub parent-nav"><a href="{{ path('index') }}" title="Filtry do wody">Główna</a></li>
                                            <li><a href="{{ path('contact') }}" title="Filtry do wody jasło">Kontakt</a></li>
                                        </ul>
                                    </nav>
                                </div><!-- top-bar Ends -->
                                <!-- Navigation Code Ends here -->

                                {#<div class="search-wrap float-right">#}
                                    {#<a href="#" class="cart-icon-toggle" data-toggle="cart-dropdown">#}
                                        {#<i class="fa fa-shopping-basket"></i>#}
                                    {#</a><!-- Shopping Cart Button /-->#}

                                    {#<a href="#" class="search-icon-toggle" data-toggle="search-dropdown">#}
                                        {#<i class="fa fa-search"></i>#}
                                    {#</a><!-- Search Icon button /-->#}
                                {#</div><!-- search wrap ends -->#}

                                <div class="shopping-cart-drop dropdown-pane" id="cart-dropdown" data-dropdown data-auto-focus="true">
                                    {#<h2>Shopping Cart</h2>#}
                                    {#<p>Sorry your cart is empty!</p>#}
                                    {#<a href="cart.html" class="button primary">Cart</a> <a href="checkout.html" class="button secondary">Checkout</a>#}
                                </div>

                                <div class="search-dropdown dropdown-pane" id="search-dropdown" data-dropdown data-auto-focus="true">
                                    <input type="text" placeholder="Enter keyword and press enter .... " />
                                    <button class="primary button"><i class="fa fa-search"></i></button>
                                </div>

                            </div><!-- right Columns /-->

                        </div><!--row /-->
                    </div>
                {% endblock topmenu %}
                {% block content %}
                {% endblock content %}

                {% block footer %}
                    <div class="footer">
                        <div class="footer-bottom">
                            <div class="row">

                                <div class="medium-6 small-12 columns">
                                    <div class="copyrightinfo">2020 &copy; <a href="{{ path('index') }}">filtrydowody24.pl</a></div>
                                </div><!-- Left Column Ends /-->

                                <div class="medium-6 small-12 columns">
                                    <div class="pull-right">
                                        <ul class="menu">
                                            <!--<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
                                            <!--<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
                                            <!--<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
                                            <!--<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>-->
                                            <!--<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
                                        </ul>
                                    </div>
                                </div><!-- Right Column Ends /-->

                            </div><!-- Row /-->
                        </div><!-- Footer Bottom /-->
                    </div>
                {% endblock footer %}
            </div><!-- Main Container /-->

            {% block bottom %}
                  <!-- Move to Top Icon
                       Remove to Not Display /-->
            <a href="#" id="top" title="Go to Top">
                <i class="fa fa-long-arrow-up"></i>
            </a>

            <!-- Page Preloader
                 Delete to Remove Preloader /-->
            <div class="preloader">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div><!-- Preloader /-->
            {% endblock bottom %}
        {% endblock %}
        {% block javascripts %}
            <!-- Including Jquery so All js Can run -->
            <script type="text/javascript" src="/template/assets/js/jquery.js"></script>

            <!-- Including Foundation JS so Foundation function can work. -->
            <script type="text/javascript" src="/template/assets/js/foundation.min.js"></script>

            <!-- Carousel JS -->
            <script type="text/javascript" src="/template/assets/js/owl.carousel.min.js"></script>

            <!-- Jquery Lightbox jS -->
            <script type="text/javascript" src="/template/assets/js/lightbox.min.js"></script>

            <!-- Webful JS -->
            <script type="text/javascript" src="/template/assets/js/template.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?always=1"></script>
        {% endblock %}

        {% for message in app.flashes('alert-success') %}
            <script>
                $(document).ready(function () {
                    Swal.fire({
                        title: false,
                        text: '{{ message }}',
                        type: 'success',
                        confirmButtonText: 'Ok'
                    })
                });
            </script>
        {% endfor %}
    </body>
</html>
