{% extends '/admin/baseAdmin.html.twig' %}

{% trans_default_domain 'messages' %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ 'message'|trans }} #{{ message.id }}</h1>
        {#<div class="btn-toolbar mb-2 mb-md-0">#}
            {#<div class="btn-group mr-2">#}
                {#<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>#}
                {#<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>#}
            {#</div>#}
            {#<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">#}
                {#<span data-feather="calendar"></span>#}
                {#This week#}
            {#</button>#}
        {#</div>#}
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-5 semi-bold">{{ 'first_name'|trans }}:</div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-7">{{ message.firstName }}</div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-5 semi-bold">{{ 'last_name'|trans }}:</div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-7">{{ message.lastName }}</div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-5 semi-bold">{{ 'email'|trans }}:</div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-7">{{ message.email }}</div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-5 semi-bold">{{ 'phone'|trans }}:</div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-7">{{ message.email }}</div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-5 semi-bold">{{ 'subject'|trans }}:</div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-7">{{ message.subject }}</div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-5 semi-bold">{{ 'content'|trans }}:</div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ message.message|nl2br }}</div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-lg-3 col-md-4 col-sm-4 col-5 semi-bold">{{ 'file'|trans }}:</div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-7">
                    {% if message.filename %}
                        <a href="{{ path('admin_message_open', {'id': message.id}) }}" target="_blank" class="btn btn-primary">{{ 'open'|trans }}</a>
                        <a href="{{ path('admin_message_download', {'id': message.id}) }}" class="btn btn-success">{{ 'download'|trans }}</a>
                    {% else %}
                        {{ 'no_added_file'|trans }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}