{% extends '/admin/baseAdmin.html.twig' %}

{% trans_default_domain 'messages' %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ 'messages'|trans }}</h1>
        {#<div class="btn-toolbar mb-2 mb-md-0">#}
            {#<div class="btn-group mr-2">#}
                {#<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>#}
                {#<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>#}
            {#</div>#}
            {#<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">#}
                {#<span data-feather="calendar"></span>#}
                {#This week#}
            {#</button>#}
        {#</div>#}
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>{{ 'date'|trans }}</th>
                    <th>{{ 'first_name'|trans }}</th>
                    <th>{{ 'subject'|trans }}</th>
                    <th>{{ 'content'|trans }}</th>
                    <th>{{ 'file_added'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.agreeDate|date('d-m-Y H:i:s') }}</td>
                        <td>{{ message.firstName }}</td>
                        <td>{{ message.subject }}</td>
                        <td>{{ message.message }}</td>
                        <td>{{ (message.filename ? 'yes' : 'no')|trans }}</td>
                        <td>
                            <a href="{{ path('admin_message_details', {'id': message.id}) }}">{{ 'details'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}