<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Dashboard Template · Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">
    <!-- Bootstrap core CSS -->
    <link href="/admin/bootstrap-4.3.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">


    {% block head_css %}
        <!-- Custom styles for this template -->
        <link href="/admin/css/style.css" rel="stylesheet">
        <style>
            label {
                min-width: 100px;
            }
        </style>
    {% endblock head_css %}
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">PHU</a>
        {#<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">#}
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ path('app_logout') }}">{{ 'sign_out'|trans }}</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            {% include '/admin/sidebarMenu.html.twig' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block main %}{% endblock main %}
            </main>
        </div>
    </div>
    {% block body_js %}
        <script src="/admin/jquery-3.4.1/dist/jquery.min.js"crossorigin="anonymous"></script>
        <script src="/admin/bootstrap-4.3.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>#}
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>#}
    {% endblock body_js %}
</body>
</html>
