<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if current == 'admin_index' %}active{% endif %}" href="{{ path('admin') }}">
                    {{ 'dashboard'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current == 'admin_messages' %}active{% endif %}" href="{{ path('admin_messages') }}">
                    {{ 'messages'|trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current == 'admin_gallery' %}active{% endif %}" href="{{ path('admin_gallery_index') }}">
                    {{ 'gallery'|trans }}
                </a>
            </li>
            {#<li class="nav-item">#}
            {#<a class="nav-link" href="#">#}
            {#<span data-feather="shopping-cart"></span>#}
            {#Products#}
            {#</a>#}
            {#</li>#}
        </ul>

        {#<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">#}
        {#<span>Saved reports</span>#}
        {#<a class="d-flex align-items-center text-muted" href="#">#}
        {#<span data-feather="plus-circle"></span>#}
        {#</a>#}
        {#</h6>#}
        {#<ul class="nav flex-column mb-2">#}
        {#<li class="nav-item">#}
        {#<a class="nav-link" href="#">#}
        {#<span data-feather="file-text"></span>#}
        {#Current month#}
        {#</a>#}
        {#</li>#}
        {#</ul>#}
    </div>
</nav>