{% extends '/admin/baseAdmin.html.twig' %}

{% trans_default_domain 'messages' %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ 'gallery'|trans }}: {{ gallery.name }}</h1>
        <a href="{{ path('admin_image_add', {'id': gallery.id}) }}" class="btn btn-primary">{{ 'add_image'|trans }}</a>
        <a href="{{ path('admin_gallery_form', {'id': gallery.id}) }}" class="btn btn-primary">{{ 'edit'|trans }}</a>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            {{ 'images_number'|trans }}: {{ imagesCounter }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            {% for image in gallery.images %}
                <div class="img-box">
                    <a href="{{ path('admin_image_edit', {'id': image.id}) }}"><img src="{{ asset('/images/' ~ image.filename)|imagine_filter('gallery_thumb') }}" alt="{{ image.alt }}" class="image-thumb"/></a>
                    <a href="{{ path('admin_image_remove', {'id': image.id}) }}" >{{ 'remove'|trans }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}