{% extends '/admin/baseAdmin.html.twig' %}

{% trans_default_domain 'messages' %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% if gallery.id > 0 %}
            <h1 class="h2">{{ 'gallery'|trans }} {{ gallery.name|default('') }}</h1>
            <a href="{{ path('admin_image_add', {'id': gallery.id}) }}" class="btn btn-primary">{{ 'add_image'|trans }}</a>
        {% else %}
            <h1 class="h2">{{ 'add_gallery'|trans }}</h1>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock main %}