{% extends '/admin/baseAdmin.html.twig' %}

{% trans_default_domain 'messages' %}

{% block body_js %}
    {{ parent() }}
    <script>
        $(document).on('click', '.delete-item', function (e) {
            e.preventDefault();
            var t = this;
            Swal.fire({
                title: 'Czy chcesz usunąć galerię: ' + $(t).data('name') + ' ?',
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Zapisz',
                cancelButtonText: 'Anuluj',
            }).then(function (result) {
                if (result.value != undefined && result.value === true) {
                    $.ajax({
                        type: 'POST',
                        url: $(t).data('url'),
                        success: function (resp) {
                            window.location.reload();
                        }
                    })
                }
            });
        });
    </script>
{% endblock body_js %}

{% block main %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ 'gallery'|trans }}</h1>
        <a href="{{ path('admin_gallery_form') }}" class="btn btn-primary">{{ 'add_gallery'|trans }}</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>{{ 'name'|trans }}</th>
                    <th>{{ 'created_date'|trans }}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for gallery in galleries %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_gallery_details', {'id': gallery.id}) }}">{{ gallery.name }}</a>
                        </td>
                        <td>{{ gallery.createdAt|date('d-m-Y H:i:s') }}</td>
                        <td>
                            <a href="{{ path('admin_gallery_form', {'id': gallery.id}) }}" class="btn btn-primary btn-sm">{{ 'edit'|trans }}</a>
                        </td>
                        <td>
                            <a href="{{ path('admin_gallery_remove', {'id': gallery.id}) }}" data-url="{{ path('admin_gallery_remove', {'id': gallery.id}) }}" data-name="{{ gallery.name }}" class="btn btn-danger btn-sm delete-item">{{ 'remove'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}