{% extends '/ciamek/baseFront.html.twig' %}

{% block content %}
    <!-- Title Section Starts -->
    <div class="title-section module">
        <div class="row">
            <div class="small-12 columns">
                <h1>{{ 'galleries'|trans }}</h1>
            </div><!-- Top Row /-->

            <div class="small-12 columns">
                <ul class="breadcrumbs">
                    <li><a href="/">{{ 'home'|trans }}</a></li>
                    <li>{{ 'galleries'|trans }}</li>
                </ul><!-- Breadcrumbs /-->
            </div><!-- Bottom Row /-->

        </div><!-- Row /-->
    </div>
    <!-- Title Section /-->
    <div class="projects grey-bg">
        <div class="row">
            <div class="projects-wrap small-12 columns">

                {% for gallery in galleries %}
                    {% if gallery.mainImage %}
                        <a href="{{ path('gallery_single', {'id': gallery.id}) }}" data-title="{{ gallery.name }}">
                            <div class="project">
                                <img class="gallery-thumb" src="{{ asset('/images/' ~ gallery.mainImage.filename)|imagine_filter('gallery_thumb') }}" alt="{{ gallery.name }}"/>
                                <div class="project-detail">
                                    <p>{{ gallery.name }}</p>
                                </div><!-- Project Detail /-->
                            </div><!-- Project /-->
                        </a>
                    {% endif %}
                {% endfor %}

            </div><!-- Projects Wrap /-->
        </div><!-- Row /-->
    </div>
    <!-- Projects /-->

{% endblock %}