{% extends '/ciamek/baseFront.html.twig' %}

{% block content %}
    <!-- Title Section Starts -->
    <div class="title-section module">
        <div class="row">
            <div class="small-12 columns">
                <h1>{{ 'gallery'|trans }}</h1>
            </div><!-- Top Row /-->

            <div class="small-12 columns">
                <ul class="breadcrumbs">
                    <li><a href="/">{{ 'home'|trans }}</a></li>
                    <li><a href="{{ path('gallery_index') }}">{{ 'galleries'|trans }}</a></li>
                    <li>{{ gallery.name }}</li>
                </ul><!-- Breadcrumbs /-->
            </div><!-- Bottom Row /-->

        </div><!-- Row /-->
    </div>
    <!-- Title Section /-->
    <div class="projects grey-bg">
        <div class="row">
            <div class="projects-wrap small-12 columns">
                {% for image in gallery.images %}
                    <a href="{{ asset('/images/' ~ image.filename)|imagine_filter('gallery_image') }}" data-lightbox="plumber-gallery" data-title="{{ image.description }}">
                        <div class="project">
                            <img class="gallery-thumb" src="{{ asset('/images/' ~ image.filename)|imagine_filter('gallery_thumb') }}" alt="{{ image.alt }}"/>
                            <div class="project-detail">
                                <p>{{ image.description }}</p>
                            </div><!-- Project Detail /-->
                        </div><!-- Project /-->
                    </a>
                {% endfor %}

            </div><!-- Projects Wrap /-->
        </div><!-- Row /-->
    </div>
    <!-- Projects /-->

{% endblock %}